= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field.form_field
    = f.text_field :start

  .field.form_field
    = f.text_field :finish

  .field.form_field
    = f.collection_select :category_id, Category.for_user(current_user), :id, :name
  .field.form_field
    = f.text_area :description

  .actions
    = f.submit 'Start New Task'
