= bootstrap_form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  = f.label :start
  .input-group.date.form-group
    = f.text_field :start, :hide_label => true, :readonly => true
    %span{class: 'input-group-addon'}
      %span{class: 'glyphicon glyphicon-calendar'}

  = f.label :finish
  .input-group.date.form-group
    = f.text_field :finish, :hide_label => true, :readonly => true

    %span{class: 'input-group-addon'}
      %span{class: 'glyphicon glyphicon-calendar'}


  .field
    = f.collection_select :category_id, Category.for_user(current_user), :id, :name
  .field
    = f.text_area :description

  .actions
    = f.submit 'Save Task', :class=>"btn btn-success"
